.ingredients_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    composes: p-3 from global
}

.ingredients_list_item_name {
    composes: text text_type_main-default from global
}

