.link {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: var(--text-primary-color);
    };
    color: var(--text-inactive-color);
    composes: p-8 from global;
}

.selected_link {
    composes: link;
    color: var(--text-primary-color);
}