.ingridients-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}


.ingridients-list-item-price {
    display: flex;
    gap: 5px;
    align-items: center;
}