.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  composes: pl-30 pr-30 from global;
}


.app_modals {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}